{{#if productos.length }}
<div class="d-flex">
    {{#each productos}}
    <div class="card m-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">Description: {{item.description}}</p>
            <p>Precio: ${{item.price}}</p>
           
            <p>Codigo: {{item.code}}</p>
            <p>Stock: {{item.stock}}</p>
            <p>En el carrito: {{qty}}</p>
        </div>
    </div>
    {{/each}}
</div>
{{else}}

<h2>Sin productos.</h2>
{{/if}}
<p><strong>Recargue la pagina para ver cambios</strong></p>