{{#if productos.length }}
<div class="justify-content-center row">
    {{#each productos}}
    <div class="card m-2 col-4">
        <img src="https://res.cloudinary.com/hdsqazxtw/image/upload/v1642799651/WWW/Group_1.jpg" class="card-img-top"
            alt="coderhouse">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">Description: {{description}}</p>
            <p>Precio: ${{price}}</p>
            <p>imagenes url:</p>
            {{#each thumbnails}}
            <ul>
                <li>{{this}}</li>
            </ul>
            {{/each}}
            <p>Codigo: {{code}}</p>
            <p>Stock: {{stock}}</p>
            <a href= 'http://localhost:8080/products/{{_id}}'><button class="btn btn-warning ">Ver Detalles</button></a>

            <button class="btn btn-success" data-id={{_id}}>Agregar al carrito</button>

        </div>
    </div>
    {{/each}}
</div>
{{#if hasPrevPage}}
            <a href={{prevLink}}><button class="btn btn-warning mb-4" }>Pagina anterior</button></a>
{{/if}}
{{#if hasNextPage}}
            <a href={{nextLink}}><button class="btn btn-warning mb-4" }>Proxima siguiente</button></a>
{{/if}}
{{else}}

<h2>Sin productos.</h2>
{{/if}}
<p><strong>Recargue la pagina para ver cambios</strong></p>

<script src="/js/index.js"></script>