{{#if producto }}
<div class="mx-5">

    <img src="https://res.cloudinary.com/hdsqazxtw/image/upload/v1642799651/WWW/Group_1.jpg" class=""
        alt="coderhouse">
    <h5 class="card-title">{{producto.title}}</h5>
    <p>Id producto: {{producto._id}}</p>
    <p class="card-text">Description: {{producto.description}}</p>
    <p>Precio: ${{producto.price}}</p>
    <p>imagenes url:</p>
    {{#each thumbnails}}
    <ul>
        <li>{{this}}</li>
    </ul>
    {{/each}}
    <p>Codigo: {{producto.code}}</p>
    <p>Stock: {{producto.stock}}</p>
    <p>Activo: {{producto.status}}</p>
    <button class="btn btn-success" data-id={{producto._id}}>Agregar al carrito</button>
</div>

</div>

{{else}}

<h2>No Existe el producto</h2>
{{/if}}

<script src="/js/index.js"></script>