{{#if productos.length }}
<div class="d-flex">
    {{#each productos}}
    <div class="card m-2" style="width: 18rem;">
        <img src="https://res.cloudinary.com/hdsqazxtw/image/upload/v1642799651/WWW/Group_1.jpg" class="card-img-top"
            alt="coderhouse">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p>Id producto: {{_id}}</p>
            <p class="card-text">Description: {{description}}</p>
            <p>Precio: ${{price}}</p>
            <p>imagenes url:</p>
            {{#each thumbnails}}
            <ul>
                <li>{{this}}</li>
            </ul>
            {{/each}}
            <p>Codigo: {{code}}</p>
            <p>Stock: {{stock}}</p>
            <p>Activo: {{status}}</p>
        </div>
    </div>
    {{/each}}
</div>
{{else}}

<h2>Sin productos.</h2>
{{/if}}
<p><strong>Recargue la pagina para ver cambios</strong></p>